@import url(./reset.css);

body {
    width: 100%;
    padding: 0;
    font-family: "Noto Sans TC"

}

$lm_breakpoint: 900px;
$m_breakpoint: 768px;
$sm_breakpoint: 576px;

@mixin lm() {
    @media all and (max-width: $lm_breakpoint) {
        // 768px以內
        @content;
    }
}

@mixin m() {
    @media all and (max-width: $m_breakpoint) {
        // 768px以內
        @content;
    }
}

@mixin sm() {
    @media all and (max-width: $sm_breakpoint) {
        // 576px以內
        @content;
    }
}

@keyframes shake1 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes pops1 {
    0% {
        top: -65px;
        opacity: 100%
    }

    100% {
        top: -165px;
        opacity: 0%
    }
}

@keyframes pops2 {
    0% {
        top: -86px;
        opacity: 100%
    }

    100% {
        top: -186px;
        opacity: 0%
    }
}

@keyframes hanabi {
    0% {
        transform: scale(1);
        opacity: 100%
    }

    100% {
        transform: scale(1.5);
        opacity: 0%
    }
}

@keyframes slide {
    0% {
        background-position: 1600px;
    }

    100% {
        background-position: 0;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

a.btn1 {
    width: 200px;
    height: 57px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B57556;
    text-decoration: none;

    h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: 0.3em;
        color: #FFFFFF;

    }
}

a.btn1.color_change {
    position: relative;
    z-index: 2;
}

a.btn1.color_change:before {
    content: "";
    background: #B57556;
    border-radius: 50px;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

a.btn1.color_change::after {

    content: "";
    background: linear-gradient(124deg, #efdbc8, #e9c87f, #b2e1ea, #90cae5, #f5caf4,
            #dfc9f9);
    background-size: auto;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50px;
    filter: blur(5px);
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: -2;
    transition: all 0.3s ease-in-out;
    animation: move 20s linear infinite;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;

    .top_banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #204379;
        background-image: url(../img/bg1.png);
        background-size: cover;
        height: 634px;
        width: 100%;

        .title {
            text-align: center;
            margin-top: 60px;
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 700;
            color: #FFFFFF;
            letter-spacing: 0.2em;

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 28px;
            }
        }

        a.btn1 {
            margin-top: 32px;
            margin-bottom: 32px;
            width: 200px;
            height: 57px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #B57556;
            text-decoration: none;

            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 125%;
                letter-spacing: 0.3em;
                color: #FFFFFF;

            }
        }

        .text {
            background-color: #DAE4F1;
            width: 808px;
            height: 322px;
            box-sizing: border-box;
            border-radius: 20px;
            padding: 24px 16px;
            color: #204379;
            border: 2px solid #B57556;
            position: relative;

            @include lm {
                width: 720px;
            }

            @include m {
                width: 100%;
                box-sizing: border-box;
                height: auto;
                margin-left: 24px;
                margin-right: 24px;
            }

            img.decor {
                position: absolute;
            }

            img.boat1 {
                right: 16px;
                top: -35px;
            }

            img.wood {
                top: -24px;
                right: 16px;
                animation: shake1 2s ease-in-out infinite;
            }

            img.pop1 {
                top: -65px;
                right: 45px;
                width: 20px;
                animation: pops1 5s ease-in-out infinite;
            }

            img.pop2 {
                top: -86px;
                right: 25px;
                width: 12px;
                animation: pops2 5s ease-in-out infinite;
            }

            img.boat2 {
                bottom: -55px;
                left: 35px;
            }

            img.fireworks {
                bottom: -55px;
                left: 10px;
                animation: hanabi 5s ease-in-out infinite;
            }

            div {
                .text_title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 16px;
                    height: 40px;

                    h5 {
                        font-size: 22.5px;
                        text-align: center;
                        font-weight: 700;
                        margin-left: 3px;
                        margin-right: 3px;

                    }
                }

                p {
                    font-size: 16px;
                    line-height: 180%;

                    span {
                        font-weight: 700;
                    }
                }
            }

            div.second {
                margin-top: 24px;
            }
        }

    }

    .wave {
        background-image: url(../img/wave.png);

        background-repeat: repeat;
        animation: slide 10s linear infinite;
        height: 110px;
        width: 100%;
    }

    .mid {

        background-color: #e2d9d3;

        .st {
            height: 813px;
            padding: 40px 24px;
            box-sizing: border-box;

            .form {
                width: 808px;
                height: 575px;
                border-radius: 16px;
                border: 2px solid #B57556;
                margin: 0 auto;
                margin-top: 41px;
                margin-bottom: 40px;
                padding: 40px 20px;
                box-sizing: border-box;
                background-color: #FFFFFF;
                position: relative;

                @include lm {
                    width: 720px;
                }

                @include m {
                    width: 100%;
                   
                }

                div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    span {
                        margin-bottom: 4px;
                        font-family: 'Noto Sans TC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #204379;
                    }

                    span::after {
                        content: "*";
                        color: red;
                    }

                    input {
                        padding: 16.5px 16px;
                        border-radius: 20px;
                        font-family: 'Noto Sans TC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        box-sizing: border-box;
                        border: 1px solid #204379;
                        color: #BDBDBD;


                    }

                    input:hover {
                        border: 1px solid #204379;
                    }
                }

                div.title {
                    display: block;
                    margin: 0;
                    position: absolute;
                    left: 322px;
                    top: -22.5px;
                    font-weight: 700;
                    font-size: 18px;
                    color: #B57556;
                    background-color: #FFFFFF;
                    border-radius: 50px;
                    border: 2px solid #B57556;
                    padding: 10px 20px;
                    line-height: 125%;
                    letter-spacing: 0.3em;
                    text-align: center;
                    @include m {
                        left: calc(50% - 57px);
                    }

                }

                img {
                    position: absolute;
                    left: 412px;
                    top: -31px;
                    @include m{
                        left: calc(50% + 33px);
                    }
                }
            }

            a.btn1 {
                margin: 0 auto;

            }

        }

        .nd {
            height: 531px;
            background-image: url(../img/bg2.png);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .container {
                width: 598px;
                height: 451px;
                box-sizing: border-box;

                .row {
                    width: 100%;
                    height: 145px;
                    display: flex;
                    align-items: center;
                    margin-top: 24px;
                    text-align: center;
                    color: #B3B960;

                    .item {
                        width: 178px;
                        height: 112px;
                        border-radius: 20px;
                        background-color: none;
                        margin-right: 32px;
                        position: relative;
                        box-sizing: border-box;

                        span.abc {
                            font-size: 16.92px;
                            text-align: center;
                            position: absolute;
                            left: 31.46%;
                            right: 31.83%;
                            top: 0;
                            color: #FFFFFF;
                        }

                        .img_block {
                            text-align: center;
                            position: absolute;
                            left: 31.46%;
                            right: 31.83%;
                            top: -24px;

                            img {}

                        }

                        .number_block {
                            position: absolute;
                            width: 45px;
                            height: 23px;
                            left: 125px;
                            top: 18px;
                            background: #FAFAFA;
                            border: 1px solid #B3B960;
                            border-radius: 50px;

                            span {
                                font-size: 12px;
                            }

                        }

                        .inside {
                            background-color: #FFFFFF;
                            box-shadow: 0px 8px 0px #EDEEF0;
                            border-radius: 20px;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            padding-top: 75px;

                            span {
                                margin-top: 80px;
                                font-size: 18px;

                            }
                        }

                    }

                    .item.item1 {
                        margin-right: 0;
                    }

                }

                .row.row1 {
                    color: #A0BCC8;
                    margin-top: 8px;

                    .item {
                        .number_block {
                            border: 1px solid #A0BCC8;
                        }
                    }
                }
            }
        }

        .rd {
            height: 378px;
            box-sizing: border-box;
            padding: 40px 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .text {
                width: 274px;
                height: 84px;
                position: relative;

                span {
                    font-size: 20px;
                    line-height: 140%;
                    font-weight: 700;
                }

                span.typea {
                    color: #B57556;
                }

                span.typeb {
                    color: #204379;
                }
            }

            .text::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: #204379;
                left: 10px;
                transform: skew(20deg);
            }

            .text::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: #204379;
                right: 10px;
                transform: skew(-20deg);
            }

            img {
                width: 56px;
                height: 194px;
                margin-top: 20px;
            }
        }

        .th {
            height: 677px;
            background-color: #204379;
            border-radius: 50px 50px 0 0;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                line-height: 200%;
                text-align: center;
                font-weight: 700;
                letter-spacing: 0.2em;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
        }
    }


}